
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "BWB Blog", root_path, class: "navbar-brand", id: "logo" %><span class="sr-only">(current)</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li>
          <%= link_to "Brunches", articles_path, class: "nav-item nav-link"%>
        </li>
        <li>
          <%= link_to "About", about_path, class: "nav-item nav-link"%>
        </li>
        <li>
          <%= link_to "Users", users_path, class: "nav-item nav-link"%>
        </li>
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "New Article", new_article_path, class: "dropdown-item" %>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        <% end %>

          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
          </form>
        </ul>

      <ul class="form-inline my-2 my-lg-0 pl-0">
        <% if logged_in? %>
          <div class="mr-sm-2">
            <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-danger" %>
          </div>
          <div class="my-sm-0">
            <li class="nav-item btn-group dropdown">
              <a  href="#" class="btn btn-info">Your Profile</a>
              <a class="btn btn-info dropdown-toggle dropdown-toggle-split" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              </a>
            <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdown">
              <%= link_to "Edit Your Profile", edit_user_path(current_user), class: "dropdown-item" %>
              <%= link_to "View Your Profile", user_path(current_user), class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </div>
        <% else %>
          <%= link_to "Login", login_path, class: "nav-item btn btn-primary" %>
          <%= link_to "Sign Up", signup_path, class:"nav-item nav-link btn" %>
        <% end %>
      </ul>
    </div>
  </nav>
